book.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="flight">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="number" type="xs:string" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="type" type="xs:string" />
        <xs:element maxOccurs="unbounded" name="seat">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="date" type="xs:string" />
              <xs:element name="from" type="xs:string" />
              <xs:element name="to" type="xs:string" />
              <xs:element name="availability" type="xs:unsignedByte" />
            </xs:sequence>
            <xs:attribute name="category" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
